{% extends "base.html" %}

{% block title %}Minhas Tarefas{% endblock %}

{% block content %}
<header class="header">
    <span class="tag">Task CRUD</span>
    <h1>Minhas Tarefas</h1>
</header>

<form action="" method="POST" class="task-form" autocomplete="off">
    <input type="text" name="title" placeholder="Digite uma nova tarefa..." required>
    <input type="text" name="desc" placeholder="Descrição da tarefa..." required>
    <button type="submit">Adicionar</button>
</form>

<section class="task-list">
    {% for task in tasks %}
    <article class="task-card">
        <span class="task-order">
            {{ loop.index }}
        </span>
        <div class="task-info">
            <h2>{{ task.title }}</h2>
            <p>{{ task.desc }}</p>
            <p>Status: {{ task.status }}</p>
            <p>Criada: {{ task.created_at }}</p>
            <p>ID: {{ task.id }} </p>


            <span class="status pending">
                {{ "Pendente" if task.status else "Concluida" }}
            </span>
        </div>

        <div class="actions">
            <a href="{{ url_for('main.edit', task_id=task.id) }}">Editar</a>
        </div>
    </article>

    {% else %}
    <div class="empty">
        <h2>Nenhuma tarefa cadastrada</h2>
        <p>Adicione sua primeira tarefa acima.</p>
    </div>
    {% endfor %}

</section>
{% endblock %}